@{
    ViewData["Title"] = "Center for Research Ethics";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (ViewBag.Error != null)
    {
        <p style="color:red">@ViewBag.Error</p>
    }
    else
    {
        <p>Developer with ID: @ViewBag.DevUserId</p>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
