@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Home Page</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        Hello, @(ViewBag.User != null ? ViewBag.User.fName + " " + ViewBag.User.mName + " " + ViewBag.User.lName : "User")!
        You are logged in as @User.Identity.Name.
    </p>

    @if (ViewBag.UserRoles != null && ViewBag.UserRoles.Count > 0)
    {
        <p>Your roles:</p>
        <ul>
            @foreach (var role in ViewBag.UserRoles)
            {
                <li>@role</li>
            }
        </ul>
    }

    <p>Your type: @(ViewBag.User != null ? ViewBag.User.type : "N/A")</p>
}
else
{
    <p>You are not logged in. Please <a asp-controller="AppUser" asp-action="Login">log in</a>.</p>
}
