@{
    ViewBag.Title = "Applications";
}

<h2>Ethics Clearance Application</h2>


<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("SubmitApplication", "EthicsApplication")'">Apply</button>
