@model List<CRE.Models.EthicsApplicationLog>

@{
    ViewBag.Title = "Application Tracking";
}
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.changeDate.ToString("yyyy-MM-dd")</td>
                <td>@log.status</td>
                <td>@log.comments</td>
            </tr>
        }
    </tbody>
</table>